.body {
  background-color: crimson;
}

.title {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 200px;
  width: 100%;
  left: 0;
  text-align: center;
}
.konten {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  top: 320px;
  text-align: center;
  width: 100%;
  padding-top: 180px;
}

.konten label {
  font-size: 20px;
  color: whitesmoke;
}

.konten textarea,
.konten input {
  font-size: 30px;
  margin-bottom: 20px;
  width: 33%;
}

.konten button {
  background-color: darkred;
  width: 120px;
  height: 40px;
}
#skor {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  color: white;
  border: 7px double red;
  background-color: royalblue;
  margin: 0;
}
.div2 {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 190px;
  width: 100%;
  left: 0;
  text-align: center;
}

.nav2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  border: 7px double blanchedalmond;
  background-color: black;
  margin: 0;
}
.footer {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0%;
  width: 100%;
  left: 0;
  text-align: center;
}
.button {
  width: 20%;
}

.waktu {
  font-size: 50px;
}

#soal {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}

.ukuranW {
  color: white;
  font-size: 5px;
}

@media screen and (max-width: 500px) {
  .nav {
    font-size: 40px;
  }

  #jawaban {
    width: 300px;
  }

  #soal {
    width: 300px;
  }
}
